name: Secretlint
on:
  push:
    branches-ignore:
      - 'dependabot/**'
  pull_request:
env:
  CI: true
jobs:
  secretlint:
    name: "Secretlint"
    runs-on: ubuntu-latest
    permissions:
      # required for all workflows
      security-events: write
      # only required for workflows in private repositories
      actions: read
      contents: read
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: lint with secretlint on docker
        run: |
           docker run -v "$(pwd)":"$(pwd)" \
             -w "$(pwd)" \
             --rm \
             secretlint/secretlint:latest secretlint \
             --secretlintrc .github/workflows/.secretlintrc.json \
             --secretlintignore .github/workflows/.secretlintignore \
             --format @secretlint/secretlint-formatter-sarif \
             --output results.sarif \
             "**/*"
      - name: upload sarif file
        if: ${{ always() }}
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: 'results.sarif'
          category: 'secretlint'
